<div class="container">
  <div class="text-center">
<h1>Add your doses</h1>


<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <div class="desc">
      <%= f.input :description %>
    </div>
    <div class="ing">
    <%= f.association :ingredient %>
    </div>
  </div>


  <div>
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
</div>
</div>
